@use 'src/general-styles/base';

$transition: all 0.5s linear;


.room-view {
  display: flex;
  flex-wrap: wrap;

  .room-card {
    position: relative;
    vertical-align: top;
    width: 200px;
    height: 252px;
    color: base.$room-font-color;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-block;
    margin: 20px 30px;
    background-size: cover;
    border-radius: 10px;
    text-align: center;

    .leaves-illustration {
      position: absolute;
      float: right;
      height: 94px;
      width: 50px;
      background-image: url('../../assets/leaves.svg');
      background-size: contain;
      right: 0;
      bottom: 20px;
      z-index: 0;
    }

    .boardgame {
      margin-top: 37px;
    }
  }

  //  This mixin is to paint every room card this accept the background color and the background color for hover 
  @mixin card-coloring ($background-color, $background-color-hover) {
    background-color: $background-color;
    &:hover {
      background-color: $background-color-hover;
      transition: $transition;
    }
  }

  .new-room {
    @include card-coloring (transparent, base.$new-room-hover);
    color: base.$new-room;
    font-size: xx-large;
    border: 1px solid base.$new-room;
    border-radius: 10px;
    border-style: dashed;

    .plus {
      font-size: 50pt;
      padding: 10px;
    }
  }

  .blue-room {
    @include card-coloring (base.$blue-room, base.$blue-room-hover);
  }

  .green-room {
    @include card-coloring (base.$green-room, base.$green-room-hover);
  }

  .yellow-room {
    @include card-coloring (base.$yellow-room, base.$yellow-room-hover);
  }

  .purple-room {
    @include card-coloring (base.$purple-room, base.$purple-room-hover);
  }

  .match-photos {
    margin-top: 30px;
  }
}