@use 'src/general-styles/_color-schema' as colors;

$icon-size: 40px;
$border-radius: 50px;

.game-component{  
    border-radius: $border-radius;
    border: colors.$border-component 1px solid;
    margin: 21px;
    padding-left: 25px;
    display: flex;
    text-align: left;

    .game-date-players {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
        margin: 10px;
    }

    .player {
        display: inline-flex;
        width: 100px;
        margin-top: 10px;
    }

    .winner-icon {
        width: $icon-size;
        height: $icon-size;
        margin-top: 17px;
        background-size: contain;
        border-image: none;
        background-repeat: no-repeat;

      &.army-icon {
          background-image: url("../../assets/army.svg");
      }
  
      &.civilian-icon {
          background-image: url("../../assets/civilian.svg");
      }
  
      &.science-icon {
          background-image: url("../../assets/science.svg");
      }
    }

    .photo-component {    
        position: absolute;
    }

    .player-photo-result {    
        margin-left: 11px; 
        top: 50%;
        transform: translateY(-50%);
        background-size: contain;
        
        &.second-player-photo-overlap {
            margin-left: 32px;
            z-index: 2;
        }
    
        &.first-player-photo-overlap {
            margin-left: -5px;
        }
    }

    .triangle{
        border-bottom: 74px solid;
        border-left: 40px solid transparent;
        z-index: -1;
    }

    .figure{
        position: relative;
        height: 74px;
        width: 100px;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
        z-index: -1;
    }

    .multiWinnerIcon {
        background-color: colors.$multi-winner-color;
        padding-top: 12px;
        font-size: large;
        color: colors.$multi-winner-font-color;
        font-weight: 400;
    }


    .triangle {
        border-bottom-color: colors.$default-color; 
    }

    .figure{
        background-color: colors.$default-color;
    }
}
