@use 'src/general-styles/base';

$photo-regular-size: 60px;
$photo-small-size: 40px;

.photo {
  width: $photo-regular-size;
  height: $photo-regular-size;
  border: solid 2px base.$photo-border;
  border-radius: 50%;
  background-size: contain;

  &.text-photo {
    text-align: center;
    vertical-align: middle;
    font-size: large;
    font-weight: 400;
    color: base.$photo-text;
    padding-top: 12px;
  }

  &.small-photo {
    width: $photo-small-size;
    height: $photo-small-size;
  }


  &.numeric-photo {
    background-color: base.$multi-winner-color;
    color: base.$multi-winner-font-color;
    padding-top: 16px;
  }
}