@use 'src/general-styles/base';

//  Variables
$icon-size: 25px;

.detail-table {
  margin: 60px auto;

  .score-table {
    width: 80%;
    text-align: center;
    vertical-align: middle;

    tr:first-child,
    tr:last-child {
      border-bottom: none;
    }

    tr {
      background-color: base.$table-color;
      border-bottom: base.$table-border-color 1px solid;
      height: 50px;
      vertical-align: middle;
    }

    th {
      background-color: base.$header-table-color;
      font-weight: 500;
      border-bottom: none;
    }
  }

  .icon {
    margin: 0 auto;
    background-size: contain;
    border-image: none;
    background-repeat: no-repeat;
    height: $icon-size;
    width: $icon-size;
    vertical-align: middle;
  }

  .city-parent {
    position: relative;
  }

  .city {
    background-image: url("../../assets/city.svg");
    width: 40px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }

  .civilian {
    background-image: url("../../assets/blue.svg");
  }

  .scientific {
    background-image: url("../../assets/green.svg");
  }

  .commercial {
    background-image: url("../../assets/yellow.svg");
  }

  .guild {
    background-image: url("../../assets/purple.svg");
  }

  .wonders {
    background-image: url("../../assets/pyramids.svg");
  }

  .progress {
    background-image: url("../../assets/token.svg");
  }

  .coins {
    background-image: url("../../assets/coin.svg");
  }

  .military {
    background-image: url("../../assets/army.svg");
  }

  .total {
    background-image: url("../../assets/total.svg");
  }

}