@use 'src/general-styles/_color-schema' as colors;

.main-title {
    display: flex;
    align-items: baseline;
    justify-content: center;

    .vs-title {
        font-size: x-large;
        bottom: 0;
        margin-right: 11px;
        margin-left: 11px;
    }
  }

.underline-tittle {
  display: flex;
  width: 570px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.circle-tittle {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background-color: #C9C9C9;
  
}

.line-tittle {
  border-bottom: solid 1px;
  border-color: #C9C9C9;
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  margin-bottom: 4px;
}

.title-room {
  font-size: xx-large;
  bottom: 0;
  color: colors.$room-font-color;
  padding: 0px 10px 0px 10px;
  max-width : 200px;
  word-wrap: break-word;
}

.vs-title-room {
  font-size: x-large;
  bottom: 0;
  font-size: 1vw;
}
