html {   
    font-family: halyard-display, sans-serif;
    font-weight: lighter;
    color: #707070;
}


.main-title {
    font-size: 42px;
    text-align: center;
    color:  #707070;
    margin-top: 60px;
    margin-bottom: 15px;
}


.underline-tittle {
    display: flex;
    width: 570px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.circle-tittle {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background-color: #C9C9C9;
    
}

.line-tittle {
    border-bottom: solid 1px;
    border-color: #C9C9C9;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    margin-bottom: 4px;
}

.center-contain {
    text-align: center;
}

.flex-container {
    display: flex;
}

.primary-button {
    display: inline-flex;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
    margin: 10px; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.bold-style {
    font-weight: 400;
}
