/* General app */
$default-font-color: #707070;

/* Buttons */
$border-buttons: #C9C9C9;


/* Table detail colors */
$table-color: #FAFAFA;
$header-table-color: #E2E2E2;
$table-border-color: #D1D1D1;


/* Game component */
$default-color: #F46161;
$multi-winner-color:#C3C928;
$border-component: #C9C9C9;
$multi-winner-font-color: #FFFFFF;

/* Photo component*/
$photo-border: #FFFFFF;
$photo-letter: #FFFFFF;

/* Room component */
$room-font-color:  #FFFFFF;
$new-room: #707070;
$new-room-hover: #F7F7F7;
$blue-room: #1C54A3;
$blue-room-hover: #1D457E;
$green-room: #038649;
$green-room-hover: #025D33;
$yellow-room:#F7C93E;
$yellow-room-hover: #F0B400;
$purple-room: #762876;
$purple-room-hover:#690769;