/* Table detail colors */
$table-color: #FAFAFA;
$header-table-color: #E2E2E2;
$table-border-color: #D1D1D1;


/* Game component */
$default-color: #F46161;
$multi-winner-color:#C3C928;
$border-component: #C9C9C9;
$multi-winner-font-color: #FFFFFF;