html {   
    font-family: halyard-display, sans-serif;
    font-weight: lighter;
    color: #707070;
}

body{
    margin: 0 auto;
    width: 800px;
}


.main-title {
    font-size: 42px;
    text-align: center;
    color:  #707070;
    margin-top: 60px;
    margin-bottom: 15px;
}



.center-contain {
    text-align: center;
}

.center-component {
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.primary-button {
    display: inline-flex;
    border: 1px solid #C9C9C9;
    border-radius: 30px;
    margin: 10px; 
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.bold-style {
    font-weight: 400;
}

.pointer {
    cursor: pointer;
}